<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Important Dates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"/>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/"><b>Important Dates</b></a></li>
        <li><a href="https://github.com/importantdates/importantdates.net">GitHub</a></li>
        <li><a href="/archive">Archive</a></li>
    </ul>
</div>
<div class="content">
    {{ content }}
    <div class="footer">
        <small>
            Site last updated: {{site.time | date: "%e %B %Y %H:%M:%S%z"}}
        </small>
    </div>
</div>
</body>
</html>